<% include partials/header %>

<div class =" container">
<div class= "cont">
<h1 class="center">Learn More</h1>
<p class = "para">1. This is a Stock App for helping in analyzing stocks and keeping tract of your financial portfolio</p>
<p class = "para">2. To get the details about any stock trading in Nasdaq,AMEX,NYSE and many more, just create a watchlist with correct stock symbols.</p>
<p class = "para">3. You can bookmark your favourite financial Websites, so you can access from the app. </p>
<p class = "para">4. This App gives you real-time information on stock prices, movement,volumes,analysis ect, Also provides daily, montly, 3 montsh, 6 months, 1 year and 5 year Chart for each individual Stock. </p>
<p class = "para">5. This is a mobile responsive app, can be used flowlessly in Desktop as well as Mobile devices</p>
<p class = "para">6. Next version of this app will include virtual stock trading game, where each user will be provided with virtual money to invest in real stocks, after a certain period(1months ect) winner would be who managed to increase their portfolio the most.</p>
<p class = "para">7. Also the future version will include a guide on how to manage the Portfolio, i.e, What should be the Ideal percentage of cash postion, investment, retirement saving and so on</p>
<p class = "para">8. Any bugs or improvement advise please email <a href="mailto:mo.rajwani@gmail.com" target="_top">mo.rajwani@gmail.com</a></p>

</div>
</div>
<% include partials/footer %>